.orange-color{
color:orange;


}
body{
    font-family: 'Noto Sans', sans-serif;
}
h1{
font-size:50px;

}
.order-link{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color:white;
    font-weight: 700;
    padding:10px 40px;
    border-radius:20px;

}
.half-width{
width:30%;
padding:5%;

}
section{

    display:flex;
}

.middle-banner{

background-image: url(images/shapes/7\ .png);
width:justify;
height:500px;
display:flex;
margin-left: 5%;
margin-right:5%;
}
.new-image{
height:500px;
padding-left: 20%;

}
.recepie-discussion{
margin-top: 5%;
text-align:center;
text-shadow: bisque;
padding: 30px, 30px;

}
.flexible-container{

display:flex;
padding: 15px;
}

.recepies-item{
    box-shadow: 10px 10px 10px 10px gray;
    border-radius: 10px;
width:30%;
padding:5px;
margin-left: 5%;
margin-right:5%;
margin-top: 5%;
padding-left:10px;


}
.new-container{
display:flex;
padding:15px;
box-shadow: 10px 10px 10px 10px gray;
border-radius: 10px;

margin-top: 5%;
margin-left: 5%;
margin-right:5%;


}
.space-box{
padding: 30px 30px 30px 30px;
padding-left: 5px;

}
.footer{
background-image:url(images/shapes/Frame\ 58.jpg);
height:300px;
width:auto;
text-align:center;
color:gray;
margin-left: 5%;
margin-right:5%;
margin-top: 5%;
}
#last-value{
text-align: right;

}
#mid-value{
    text-align:justify ;
}